# OS / editor
.DS_Store
Thumbs.db
.vscode/

# R 
.RProfile
/renv/**

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/interim/**
data/raw/**
!data/raw/.gitkeep


# EDA artifacts (not required)
notebooks/eda_summary.json
